#nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    z-index: 10;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 1em;
  }
  
.menu-nav li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    text-align: center;
  }

  .menu-nav li a:hover {
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .menu-nav li {
    border-right: 0.5px solid black;
    padding-right: 2em;
    white-space: nowrap;
  }
  
  .menu-nav ul {
    list-style-type: none;
    display: flex;
    gap: 3em;
  }