<footer>
    <section class="icons">
        <div class="lying">
    <img [src]="catImage" alt="ikon liggande katt" id="cat-lying">
</div>
<div class="sitting">
    <img [src]="catSittingImage" alt="ikon sittande katt" id="cat-sitting">
</div>
</section>
    <div class="bar-footer"></div>
    <section class="footer">
    <div class="footer-left">
    <p>Amanda Persdotter</p>
    <p>Amer1301&#64;hotmail.com</p>
</div>
<div class="footer-right">
    <p>DT208G Datateknik GR (B)</p>
    <p>Programmering i TypeScript</p>
</div>
</section>
</footer>