.converter-container {
    padding: 2em;
    margin: 0 auto;
    font-family: "Karla", sans-serif;
  }

  h3 {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 2em;
  }
  
  .converter-box {
    background-color: #e9e3df;
    align-self: center;
    margin: 2em auto;
    width: 50em;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  
.converter-box button {
    margin-left: auto;
}
  
  .input-row {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 0.5em;
  }
  
  input {
    width: 100px;
    padding: 0.3em;
  }

  label {
    font-size: 1.2em;
    font-weight: bold;
  }

  
  @media (max-width: 766px) {
    .converter-box {
      width: 30em;
    }
  }
      
  @media (max-width: 545px) {
    .converter-box {
      width: 20em;
    }

    label {
      font-size: 1em;
    }
  }