.information-box {
    background-color: #e9e3df;
    align-self: center;
    margin: 2em auto;
    width: 50em;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .information-box p {
    font-size: 1.2em;
    line-height: 2em;
  }

  @media (max-width: 766px) {
    
  .information-box p {
    font-size: 1em;
  }

  .information-box {
    width: 30em;
  }

  @media (max-width: 545px) {
    .information-box {
      width: 20em;
    }
  }
  }