body,
main {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
  display: flex;
  margin: 2em auto;
  text-align: center;
  justify-content: center;
}

body {
    background-color: #e1d9d3;
}

button {
    display: flex;
    margin-bottom: 2em;
    align-self: center;
    justify-content: center;
    padding: 1em 0;
    width: 10em;
    cursor: pointer;
    background-color: #a18876;
    color: white;
    border-radius: 5px;
    transition: transform 0.2s ease;
  }

  button:hover {
    transform: scale(1.1);
  }