body,
main {
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #e1d9d3;
}

