img {
    width: 50%;
    display: flex;
align-items: center;
justify-content: center;
margin: 2em auto;
border-radius: 5px;
}

.image-button-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }